:root {
  --main-bg-theme: #0d54a1;
  --fs-full-hd: 35px;
  --fs-wxga: 28px;
  --fs-sxga: 23px;
  --fs-md: 18px;
  --fs-sm: 15px;
}

* {
  box-sizing: border-box;
}
.wrapper {
  font-family: "Manrope";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: flex-end;
  z-index: 2;
}

.modal {
  display: flex;
  width: 50%;
  background-color: var(--main-bg-theme);
}

.modal-content {
  width: 100%;
  height: 100%;
  margin: 30px 40px;
  color: white;
}

.header-text {
  font-weight: 700;
  font-size: var(--fs-full-hd);
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-close-button {
  box-sizing: content-box;
  cursor: pointer;
  padding: 18px;
}

.main {
  height: 80%;
  margin: 20px 0;
  font-size: var(--fs-full-hd);
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
}
.tab-active {
  color: #000000;
  background-color: #e0e7f0;
}

.tab-inactive {
  color: #ffffff;
  background-color: var(--main-bg-theme);
}

.tab {
  padding: 15px 20px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  width: 50%;
  word-break: break-word;
  text-align: center;
}

.main-content {
  background-color: #e0e7f0;
  color: var(--main-bg-theme);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  flex-grow: 1;
  overflow-y: auto;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  gap: 5px;
}

.main-content-item {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;

  cursor: pointer;
}

.main-content-button {
  box-sizing: content-box;
  background-color: #437dff;
  padding: 25.71px 32.14px 25.71px 35.36px;
  border-radius: 16px;
}

.hidden-item {
  display: none;
}

.wrapper-orientation-alert {
  font-family: "Arial";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: flex-end;
  z-index: 999;
}

.modal-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-size: var(--fs-full-hd);
  background-color: #12121280;
}

.phone-img {
  margin: auto;
}

.modal-alert-container {
  margin: 0 35px 35px 35px;
  padding: 40px;
  border-radius: 10.52px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  background-color: var(--main-bg-theme);
}
.modal-alert-text {
  text-align: center;
  color: #ffffff;
}

.notification-wrapper {
  font-family: "Arial";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}
.notification-message {
  font-size: var(--fs-full-hd);
  border-radius: 26px;
  padding: 33.6px 32px;
  background-color: #e31f24;
  color: white;
}

@media (orientation: portrait) {
  .wrapper-orientation-alert {
    display: flex;
  }

  body > *:not(.wrapper-orientation-alert) {
    filter: blur(18px);
  }
}
@media screen and (max-width: 1400px) {
  .header-text {
    font-size: var(--fs-wxga);
  }
  .main {
    font-size: var(--fs-wxga);
  }
  .notification-message {
    font-size: var(--fs-wxga);
  }

  .main-content-button {
    width: 20px;
    padding: 19.23px 24.67px 19.23px 27.13px;
  }
}
@media screen and (max-width: 1280px) {
  .modal {
    width: 55%;
  }

  .header-text {
    font-size: var(--fs-sxga);
  }
  .header-close-button {
    padding: 11.25px;
    width: 27.5px;
  }
  .main-content-button {
    width: 12.22px;
    padding: 13.74px 17.19px 13.74px 18.9px;
  }
  .tab {
    padding: 9.38px 12.5px;
  }
  .main {
    font-size: var(--fs-sxga);
    margin: 10px 0;
  }
  .notification-message {
    font-size: var(--fs-sxga);
    padding: 24px;
  }
  .modal-alert {
    gap: 0;
  }
}

@media screen and (max-width: 900px) {
  .header-text {
    font-size: var(--fs-md);
  }
  .modal {
    width: 60%;
  }
  .main {
    font-size: var(--fs-md);
  }
  .notification-message {
    font-size: var(--fs-md);
    padding: 18px;
  }
  .main-content-button {
    width: 10.4px;
    padding: 11.68px 14.61px 11.68px 16.07px;
  }
  .tab {
    padding: 8.02px 10.7px;
  }

  .modal-content {
    margin: 15px 20px;
  }

  .phone-img img {
    width: 200px;
  }

  .modal-alert-container {
    margin: 0 20px 20px 20px;
  }
  .modal-alert-text {
    font-size: var(--fs-md);
  }
}

@media screen and (max-width: 600px) {
  .header-text {
    font-size: var(--fs-sm);
  }
  .main {
    font-size: var(--fs-sm);
  }
  .modal {
    width: 65%;
  }

  .notification-message {
    font-size: var(--fs-sm);
    padding: 16px;
  }
}
