:root {
  --main-bg-theme: #0d54a1;
  --main-modal-theme: #f3f3f3;
  --fs-full-hd: 35px;
  --fs-wxga: 28px;
  --fs-sxga: 23px;
  --fs-md: 20px;
  --fs-sm: 16px;
}

* {
  box-sizing: border-box;
}
.wrapper {
  font-family: "Manrope";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: flex-end;
  z-index: 1000;
}

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--main-modal-theme);
}

.modal-tools-button {
  display: flex;
  gap: 5px;
}

.modal-tools-button > * {
  cursor: pointer;
}

.modal-content {
  width: 100%;
  height: 100%;
  margin: 30px 40px;
}

.header-text {
  font-weight: 700;
  font-size: var(--fs-full-hd);
  text-transform: uppercase;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.header-close-button {
  box-sizing: content-box;
  cursor: pointer;
  padding: 18px;
}

.main {
  height: 100%;
  margin: 20px 0;
  font-size: var(--fs-full-hd);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tabs {
  display: flex;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent;
}
.tab-active {
  color: white;
  background-color: var(--main-bg-theme);
}

.tab-inactive {
  color: black;
  background-color: white;
}

.tab {
  padding: 15px 20px;
  cursor: pointer;
  width: 50%;
  word-break: break-word;
  text-align: center;
  border-radius: 3px;
  border: solid 1px #c4c7c780;
}

.main-content {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  flex-grow: 1;
  overflow-y: auto;
  height: 0;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.main-content-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-content-item {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  cursor: pointer;
  padding: 17px 10px;
}

.main-content-text-and-logo {
  display: flex;
  gap: 5px;
}

.hidden-item {
  display: none;
}

.notification-wrapper {
  font-family: "Arial";
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  bottom: 0;
  left: 0;
}
.notification-message {
  margin-right: auto;
  font-size: var(--fs-full-hd);
  border-radius: 26px;
  padding: 33.6px 32px;
  background-color: #e31f24;
  color: white;
  word-break: break-word;
  text-align: center;
}

.tools-button {
  margin-left: 20px;
  margin-right: auto;
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #0d29434d;
  border-radius: 100px;
  z-index: 1;
}

.tools-button * {
  cursor: pointer;
  overflow: visible;
}

.svg-icon {
  width: 50px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 15px 20px;
}

@media (orientation: portrait) {
  .notification-wrapper {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .header-text {
    font-size: var(--fs-wxga);
  }
  .main {
    font-size: var(--fs-wxga);
    gap: 10px;
  }
  .notification-message {
    font-size: var(--fs-wxga);
  }
  .svg-icon {
    width: 45px;
  }

  .modal-content {
    gap: 10px;
    margin: 10px 20px;
  }
}
@media screen and (max-width: 1280px) {
  .main-content-item {
    padding: 14px 10px;
  }
  .modal-content {
    gap: 5px;
    margin: 5px 20px;
  }
  .header-text {
    font-size: var(--fs-sxga);
  }
  .header-close-button {
    padding: 11.25px;
    width: 27.5px;
  }
  .tab {
    padding: 9.38px 12.5px;
  }
  .main {
    font-size: var(--fs-sxga);
    margin: 10px 0;
    gap: 5px;
  }
  .notification-message {
    font-size: var(--fs-sxga);
    padding: 24px;
  }
}

@media screen and (max-width: 900px) {
  .main-content-item {
    padding: 8px 10px;
  }
  .modal-content {
    gap: 0px;
    margin: 0px 20px;
  }
  .header-text {
    font-size: var(--fs-sm);
  }
  .main {
    font-size: var(--fs-sm);
    margin: 0;
  }
  .notification-message {
    font-size: var(--fs-sm);
    padding: 18px;
  }
  .tab {
    padding: 8.02px 10.7px;
  }
}

@media screen and (max-width: 600px) {
  .header-text {
    font-size: var(--fs-sm);
  }
  .main {
    font-size: var(--fs-sm);
  }
  .notification-message {
    font-size: var(--fs-sm);
    padding: 16px;
  }
}
